{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'personalfinance/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{% static 'logo.svg' %}" alt="Logo">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    {% if user.is_authenticated %}
                        {{ user.username }}'s dashboard
                    {% else %}
                        Dashboard
                    {% endif %}
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if user.is_authenticated %}
                            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button class="button is-light" type="submit">Logout {{ user.username }}</button>
                            </form>
                        {% else %}
                            <a class="button is-primary" href="{% url 'register' %}">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="{% url 'login' %}">
                                Log in
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main>
        <body class="theme-dark">
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
        </body>

    </main>

    <footer>
        <!-- Your footer code here -->
    </footer>
</body>
</html>